body{
	background-color: yellow;
	margin: 0;
	font-family:  "Avenir", "Montserrat";
}
h1{
	text-align: center;
	background-color: cyan;
	line-height: 1.1;
	padding: 20px 0;
	color: white;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
}
.message{
	display: inline-block;
	width: 33%;
	color: cyan;
	font-weight: 700;
	font-size: inherit; 
	text-transform: uppercase; 
}
#stripe{
	background-color: white;
	height: 30px;
	text-align: center;
	color: black;
}
button{
	border: none;
	background-color: inherit;
	outline: none;
	text-transform: uppercase;
	width: 33%;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}

button:hover {
	color: white;
	background-color: pink;
}
.b{
  margin: 20px 20px;
  width: 40%;
  height: 50px;
}